@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
text-align: center;
font-family: 'Roboto', sans-serif;
color: black;
text-decoration: none;
}

body {
min-width: 400px;
padding: 50px;
font-weight: 700;
}

.container {
display: inline-flex;
align-items: center;
}

.container.vertical {
flex-direction: column;
}

.container.vertical.spaced {
gap: 30px;
}

.container.horizontal {
gap: 20px;
}

@media only screen and (max-width: 600px) {
body {

    /*  top right bottom left
        top/bottom right/left   */

        padding: 30px;
    }
}

.image {
    max-width: 100%;
    height: auto;
}

.image.game-icon {
    padding: 0 70px;
}

.image.download-icon {
    vertical-align: bottom;
}

.game-title-text {
    font-size: 40px;
}

.button {
    width: 250px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    background: white;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    transition: background-color 0.1s;
}

/*.button:hover {
    color: white;
}

.button:focus {
    color: white;
}*/

.button.pink:hover {
    background-color: #fb83ff;
}

.button.pink:focus {
    background-color: #9d50a0;
}

.button.purple:hover {
    background-color: #b9a3ee;
}

.button.purple:focus {
    background-color: #7b68a9;
}

.button.blue:hover {
    background-color: #44ddd1;
}

.button.blue:focus {
    background-color: #35978f;
}