@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("C:/Users/Kristy/Documents/GitHub/kristy-games.github.io/Assets/Images/Logo/favicon.png");

body {
    min-width: 400px;
    padding: 50px 20px;
    font-weight: 700;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}