@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body {
    padding: 20px;
    padding-top: 50px;
    color: black;
}

a {
    color: inherit;
}

.container {
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
}

.container.vertical {
    gap: 30px;
}

.container.horizontal {
    flex-direction: row;
    gap: 20px;
}

.image {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.image.logo {
    padding-bottom: 30px;
}

.image.game {
    padding-bottom: 10px;
}

.image.qr {
    max-width: 128px;
}

.image.download {
    vertical-align: bottom;
}

.text {

}

.text.title {
    font-size: 2.5rem;
}

.button {
    display: flex;
    width: 100%;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
}

.button.text {
    font-size: 2rem;
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 20px;
    }

    .container.vertical {
        gap: 15px;
    }

    .container.horizontal {
        flex-direction: column;
        gap: 15px;
    }

    .image {
        max-width: 200px;
    }

    .image.logo {
        padding-bottom: 20px;
    }

    .text.title {
        font-size: clamp(1.5rem, 15vw, 2rem);
    }

    .button.text {
        font-size: clamp(1rem, 12vw, 2rem);
    }
}