@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

body {
    min-width: 400px;
    padding: 50px 20px 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
}

.container {
    display: inline-flex;
    flex-direction: column;
}

.container.vertical {
    gap: 30px;
}

.container.horizontal {
    flex-direction: row;
    gap: 20px;
}

.image {
    max-width: 200px;
    height: auto;
}

.image.logo {
    padding-bottom: 30px;
}

.image.game {
    padding-bottom: 10px;
}

.image.qr {
    max-width: 128px;
}

.image.download {
    max-width: 100%;
    vertical-align: bottom;
}

.title {
    font-size: 40px;
}

.button {
    width: 250px;
    height: 60px;
    background: white;
    border-radius: 10px;
    border: 3px solid black;
}

.button.text {
    line-height: 60px;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
}

@media only screen and (max-width: 768px) {
    body {
        padding-top: 20px;
    }

    .container.vertical {
        gap: 20px;
    }

    .container.horizontal {
        gap: 10px;
    }

    .image {
        max-width: 150px;
    }

    .title {
        font-size: 30px;
    }
}